* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
html,body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
}
.warp {
	margin: 0 auto;
	max-width: 980px;
	height: 1386px;
	*zoom:1;
}
.warp header {
	width: 892px;
	height: 61px;
	background-color: #f00;
}
.a-top {
	width: 884px;
	height: 301px;
	margin: 40px 0;
}
.a-top .banner {
	float: left;
	width: 641px;
	height: 301px;
	position: relative;
}
.a-top .banner img {
	width: 100%;
	height: 100%;
}
.a-top .banner .b_l,
.a-top .banner .b_r {
	position: absolute;
	width: 191px;
	height: 301px;
	opacity: 0.7;
}
.a-top .banner .b_l {
	background-color: #284F3D;
	left: 0;
	top: 0;
}
.a-top .banner .b_r {
	background-color: #E5B7B7;
	right: 0;
	top: 0;
}
.a-top .about {
	width: 203px;
	height: 301px;
	float: right;
	border-top: 2px solid #cc8091;
}
.a-top .about p{
	text-decoration: underline;
	margin: 0;
	color: #000;
	text-transform: uppercase;
	font: 24px/40px "Microsoft Yahei";
}
.a-top .about p:first-letter 
{
color: #000;
font-size:xx-large;
}
.a-top .about span{
	display: block;
	font: 12px/10px "楷体";
	color: #676767;
}
.a-top .about .s-w {
	color: #75b86b;
	font: italic 100px  "Microsoft Yahei";
}
.a-top .about .s-s {
	height: 63px;
	color: #cc8091;
	font:12px "Microsoft Yahei";
}
.a-top .about .s-s b{
font:58px "Micorsoft Yahei"; 
float:left;
}
